.App {
  display: flex;
  height: 99vh;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.parseButton {
  position: relative;
}

.left-panel {
  flex: 0 0 12%;
  max-width: 12%;
  padding: 5px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.right-panel {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.left-panel h2,
.right-panel h2 {
  margin-top: 0;
}

.left-panel textarea {
  width: 100%;
  height: calc(100% - 80px);
  resize: none;
  font-size: 14px;
  padding: 3px;
  box-sizing: border-box;
}


.right-panel svg {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  position: absolute;
  top: 0;
  left: 0;
}

.node {
  cursor: move;
  user-select: none;
}

.node-box {
  width: 150px;
  height: 80px;
  background-color: #cce5ff;
  border: 1px solid #004085;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-label {
  font-family: Arial;
  font-size: 22px;
  color: #004085;
}

.button {
  padding: 2px 2px;
  margin-left: 14px;
  border: 1px solid black;
  background-color: #e8ebef;
  color: rgb(23, 82, 192);
  box-shadow: 2px 2px 8px rgba(34, 33, 33, 0.4);
  cursor: pointer;
  font-size: 20px;
}

.button_selected {
  padding: 2px 2px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: rgb(28, 159, 59);
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 20px;
}

.addbutton {
  background-color:rgb(16, 130, 16);
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(1, 55, 20, 0.8);
  width: 10%; /* Increase the width */
  height: 48px; /* Increase the height */
}

.signoutbutton {
  background-color: orange;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 18px;
  padding: 5px 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  font-size: 18px; /* make the button text extremely small */
}
.textbutton {
  background-color: grey;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  font-size: 18px; /* make the button text extremely small */
}
.signonpagebutton {
  background-color: rgb(58, 111, 58);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 18px; /* make the button text extremely small */
}

.signuppagebutton {
  background-color: rgb(148, 118, 9);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 18px; /* make the button text extremely small */
}

.signgooglepagebutton {
  background-color: rgb(31, 115, 211);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 18px; /* make the button text extremely small */
}

