.App {
  display: flex;
  height: 99vh;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.parseButton {
  position: relative;
}

.left-panel {
  flex: 0 0 16%;
  max-width: 16%;
  padding: 4px;
  box-sizing: border-box;
  border-right: 2px solid #220202;
}

.right-panel {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.left-panel h2,
.right-panel h2 {
  margin-top: 0;
}

.left-panel textarea {
  width: 100%;
  height: calc(100% - 80px);
  resize: none;
  font-size: 14px;
  padding: 3px;
  box-sizing: border-box;
}


.right-panel svg {
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  position: absolute;
  top: 0;
  left: 0;
}

.node {
  cursor: move;
}

.node-box {
  width: 150px;
  height: 80px;
  background-color: #cce5ff;
  border: 1px solid #004085;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-label {
  font-family: Arial;
  font-size: 22px;
  color: #004085;
}

.signonpagebutton {
  background-color: rgb(58, 111, 58);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 18px; /* make the button text extremely small */
}

.signuppagebutton {
  background-color: rgb(148, 118, 9);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 18px; /* make the button text extremely small */
}

.signgooglepagebutton {
  background-color: rgb(31, 115, 211);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 18px; /* make the button text extremely small */
}

.signoutbutton {
  background-color: rgb(237, 182, 15);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 16px; /* make the button text extremely small */
}

.signinbutton {
  background-color: rgb(45, 129, 3);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 5px 5px;
  font-size: 16px; /* make the button text extremely small */
}
